<html>
<head>
	<title>TSOI</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="keywords" content="">
      <meta name="author" content="Rajeev K Rao, A K Bhuvanesh">
	<link href= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            rel="stylesheet" integrity= 
"sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">
    <link href="/css/page.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg
        navbar-dark fixed-top py-lg-3 "> 
  
        <a class="navbar-brand" href="#">
           TSOI
        </a> 
         
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" 
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive" 
                aria-expanded="false" 
                aria-label="Toggle navigation"
                onclick="mobbg()"> 
                  
                <span class="navbar-toggler-icon"></span> 
        </button> 
  
        <div class="collapse navbar-collapse"
                id="navbarResponsive"> 
            <ul class="navbar-nav ml-auto"> 
                <li class="nav-item active"> 
                    <a class="nav-link" href="#">Home 
                        <span class="sr-only">(current)</span> 
                    </a> 
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="#">About</a> 
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="#">Stories</a> 
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="#">Blog</a> 
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="#">Latest</a> 
                </li> 
                <li class="nav-item"> 
                    <a class="nav-link" href="#">Contact<span class="line"></span></a> 
                </li> 
            </ul> 
        </div> 
    </nav> 

    <section class="header">

    
        <div id="navspace"></div>
    	<div class="cover">
            <h3>Tales untold<img src="/images/line_white.svg" style="margin-left:2vw;width:10em;"/></h3>
            <h1 >Thousand Shades <br/>of India</h1>
            <p class="pffs-5" >Bringing you stories from the nooks and corners of <br/>Incredible India</p>
            <button class="btn white"><p>Call to Action</p></button>
        </div>
        <div class="prompt">
            <a href="#">
                <img src="/images/Vector 1.svg"/><span>Stories</span>
            </a>
        </div>
    </section>

    <section class="mission">
            <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="cover">
                <h3>Our mission<img src="/images/line_black.svg" style="margin-left:2vw;width:10em;"/></h3>
                <h2>Bringing a paradigm shift in<br/> your idea of India</h2>
                <p class="pffs-5" >Slices of inspiration and hope are required more than ever now and Thousand Shades of India (TSOI) strives hard to bring you that and more, amidst all the chaos of negativity and hopelessness.<br/><br/>

                We are a team of two experienced journalists who have quit our jobs to dedicate our lives to the cause of sharing stories that make a real difference - stories that are not covered by the mainstream media.
                </p>
                </div>
            </div>
            <div style="text-align: center;" class="col-lg-4">
                <img src="/images/Rectangle 37.png" style="height:60vh;"/>
            </div>
            </div>
            </div>
        <div class="prompt">
            <a href="#">
                <img src="/images/Vector 1.svg"/><span>Stories</span>
            </a>
        </div>
    </section>

    <section class="support">
        <div class="container">
            <h2>Support us</h2>
            <p class="pffs-5" >We have no sponsors. We can sustain this important and excruciating work of providing the insight, hope and inspiration only through regular support of the community.<br/><br/>

            Please consider contributing to this cause of highlighting the stories of unseen India.</p>
            <button class="btn dark shadow"><p>Call to Action</p></button>
        </div>
    </section>

    <section class="newsletter">
        <div class="container">
            <p class="ret">
                Welcome to Thousand Shades of India.
            </p>
            <h2>
                Sign up for updates on<br/>
                upcoming stories
            </h2>

            <div class="joined">
                <input type="email" placeholder="Enter your email address"></input>
                <button><i class="fa fa-angle-right" style="font-size:2em"></i></button>
            </div>

            <p class="ret2" style="margin-top:5vh;">
                We will process the personal data you have supplied in accordance with our privacy policy.<br/>
                You can unsubscribe or change your preferences at any time by clicking the link in any emails.
            </p>
        </div>
    </section>

    <section class="media">
        <div class="container">
            <div class="row">
            <div class="col-md-6">
                <h2>Engage with us on</h2>
                <div class="soc-media">
                    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-md-6" style="text-align: center;">
                <div class="joined">
                    <input type="email" placeholder="Join our mailing list."></input>
                    <button><i style="color:white;" class="fa fa-angle-right" style="font-size:4em"></i></button>
                </div>
            </div>
            </div>
        </div>
    </section>



    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity= 
"sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"> 
    </script> 
      
    <script src= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity= 
"sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"> 
    </script>
    <script src="/js/page.js"></script>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1045473969253131',
      cookie     : true,
      xfbml      : true,
      version    : 'v9.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>
